//_typography.scss


html { 
    font-size: 62.5%;
    -webkit-text-size-adjust: 62.5%;
        -ms-text-size-adjust: 62.5%;
}
body { @include x-rem(font-size, $baselineFontRem); @include x-rem(line-height, $baselineRem); font-family: $baseFontFamily;}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { @include x-rem(line-height, $baselineRem*2);}

