// _variables.scss 

$baseFontPx: 16;
$baseFontRem: 1.6;

$baseLinePx: 24;
$baseLineRem: 2.4;

$baseFontFamily: Helvetica, Arial, sans-serif;






















// COLORS
// -------------------------

// Background Colors: for general elements (e.g. body, page, block)

// Background Colors: for custom elements (e.g. checkout steps, headings)

// LINKS
// -------------------------


// TYPOGRAPHY
// -------------------------


/*
// Awesome Font-Stacks
*/


// Small Text


// TABLES
// -------------------------

// Table Headers

// Table Body


// IMAGE PATHS
// -------------------------


// BUTTONS
// -------------------------


// FORMS
// -------------------------


// NAVBAR
// -------------------------


// NOTICES, ALERTS, ERRORS
// -------------------------



// BLOCKS
// -------------------------


// Z-Index Master List
// -------------------------

