<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="screen" title="main styles" charset="utf-8">
    </head>
    <body>
        <div class="header-container">
            <header class="header wrapper clearfix">
                <a href="1column.html">1column</a> <a href="2column-left.html">2column-left</a> <a href="2column-right.html">2column-right</a> <a href="3columns.html">3columns</a>
            </header>
        </div>
        <div class="main col2-right-layout">
            <div class="wrapper clearfix">
                <div id="content" role="main" class="col-main wrapper clearfix">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                </div>
                <aside class="col-right">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                </aside>
            </div>
        </div>
        <div class="footer-container">
            <footer class="footer wrapper clearfix">
            </footer>
        </div>
    </body>
</html>
