<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="screen" title="main styles" charset="utf-8">
        <script type="text/javascript" charset="utf-8" src="/assets/cs/respond.min.js"></script>
    </head>
    <body>
        <div class="header-container">
            <header class="header wrapper clearfix">
                <a href="1column.html">1column</a> | <a href="2column-left.html">2column-left</a> | <a href="2column-right.html">2column-right</a> | <a href="3columns.html"><strong>3columns</strong></a>
            </header>
        </div>
        <div class="main-container col3-layout">
            <div class="main wrapper clearfix">
                <div class="col-wrapper">
                    <div id="main" role="main" class="col-main">
                        <p>MAIN CONTENT: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus.</p>
                        <div class="col2-set">
                            <div class="col-1">
                                1 OF 2-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                            <div class="col-2">
                                2 OF 2-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                        </div>
                        <div class="col3-set">
                            <div class="col-1">
                                1 OF 3-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                            <div class="col-2">
                                2 OF 3-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                            <div class="col-3">
                                3 OF 3-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                        </div>
                        <div class="col4-set">
                            <div class="col-1">
                                1 OF 4-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                            <div class="col-2">
                                2 OF 4-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                            <div class="col-3">
                                3 OF 4-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                            <div class="col-4">
                                4 OF 4-COL: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                            </div>
                        </div>
                    </div>
                    <aside class="col-left">
                        <div class="left-top">
                            LEFT COL TOP: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                        </div>
                        <div class="left-bottom">
                            LEFT COL BOTTOM: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                        </div>
                    </aside>
                </div>
                <aside class="col-right">
                    <div class="right-top">
                        RIGHT COL TOP: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                    </div>
                    <div class="right-bottom">
                        RIGHT COL BOTTOM: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id turpis neque, sit amet cursus purus. Aliquam rutrum massa id diam cursus a sagittis mi luctus. 
                    </div>
                </aside>
            </div>
        </div>
        <div class="footer-container">
            <footer class="footer wrapper clearfix">
            </footer>
        </div>
    </body>
</html>
